
.icon-logout:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */
.icon-wallet:before { content: '\e802'; } /* '' */
.icon-credit-card:before { content: '\e803'; } /* '' */
.icon-switch:before { content: '\e804'; } /* '' */