<div class="container d-flex justify-content-center align-items-center"  style="height: 100vh;">
    <div class="container">
        <a class="btn btn-primary" href="pin.html">przyłoż karte</a>
    </div>    
</div>

@code {
    [Parameter]
    public string Input { get; set; }
}
