<div class="d-flex justify-content-center align-items-center"  style="height: 100vh;">
    <div class="container">
        <h3 class="modal-title" id="exampleModalLabel">Witaj Mariusz!</h3>

        <div class="row d-flex justify-content-center">
            <div class="col-md-5 d-flex justify-content-center align-items-center akcjaItem" style="height: 10rem; background-color: #c2185b; margin: 10px; padding: 0px;"><a href="saldo.html" style="color: white;" class="saldo">Sprawdź saldo<br><i class="icon-wallet" style="font-size: 48px;"></i></a></div>
            <div class="col-md-5 d-flex justify-content-center align-items-center akcjaItem" style="height: 10rem; background-color: #43a047; color: black; margin: 10px; padding: 0px;"><a href="przelew.html" style="color: white;" class="przelew">Przelej pieniądze<br><i class="icon-switch" style="font-size: 48px;"></i></a></div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-5 d-flex justify-content-center align-items-center akcjaItem" style="height: 10rem; background-color: #512da8; margin: 10px; padding: 0px;"><a href="wplata.html" style="color: white;" class="wplata">Wpłać pieniądze<br><i class="icon-login" style="font-size: 48px;"></i></a></div>
            <div class="col-md-5 d-flex justify-content-center align-items-center akcjaItem" style="height: 10rem; background-color: #fb8c00; margin: 10px; padding: 0px;"><a href="wyplata.html" style="color: white;" class="wyplata">Wypłać pieniądze<br><i class="icon-logout" style="font-size: 48px;"></i></a></div>
        </div>
        <div class="container">
            <a class="col-md-2 btn btn-warning float-right" href="menu.html">Wyloguj się</a>
        </div>
    </div>
</div>

@code {

}
